html {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Arial";
  font-size: 10px;
  /* Set at 10px Change w/ media queries */
  margin: 0;
  padding: 1em;
}
.box {
  /*outline: 1px dotted gray;*/
  float: left;
  margin: 1em;
  padding: 0 2em 2em 2em;
  width: 25em;
}
.gridWrap {
  /*border-top: 8pt solid black;*/
  overflow: visible;
  position: relative;
  height: 25em;
  width: 25em;
}
.gridBox,
.grid {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: black;
  stroke-width: 4pt;
}
.gridLine {
  width: 20%;
  height: 20%;
  fill: none;
  stroke: black;
  stroke-width: 2pt;
}
.box h2 {
  font-size: 24pt;
  font-family: "Times New Roman";
  margin: 0 0 .5em 0;
  line-height: 1;
  text-align: center;
}
.dotBox {
  width: 4em;
  height: 4em;
  position: absolute;
}
.dotBox.fret1 {
  top: .5em;
}
.dotBox.fret2 {
  top: 5.5em;
}
.dotBox.fret3 {
  top: 10.5em;
}
.dotBox.fret4 {
  top: 15.5em;
}
.dotBox.fret5 {
  top: 20.5em;
}
.dotBox.string1 {
  left: 22.75em;
}
.dotBox.string2 {
  left: 18em;
}
.dotBox.string3 {
  left: 13em;
}
.dotBox.string4 {
  left: 8em;
}
.dotBox.string5 {
  left: 3em;
}
.dotBox.string6 {
  left: -2em;
}
.dotBox > .dot {
  fill: black;
  stroke: none;
}
.dotBox.root {
  background: black;
}
.dotBox > text {
  font-size: 2.25em;
  fill: white;
}
.dotBox.root > text {
  font-weight: bold;
  font-size: 2.75em;
}
hr {
  border: none;
  border-top: 1px dotted black;
  height: 0;
  float: none;
  clear: both;
  margin: 0;
}
