/* Vars */
@colorBlack: #373a3c;
@colorDarkGray: lighten(@colorBlack, 25%);
@colorGray: darkslategray;
@colorLightGray: #eceeef;
@colorWhite: white;
@borderDotted: 1px dotted @colorBlack;
@borderSolid: 1px solid @colorGray;
@fontDefault: "Segoe UI";
@fontAlt: "Segoe UI";

/* Mixins */
.strokeLine(@width: 1pt) { 
    stroke: @colorGray; 
    stroke-width: @width; 
}
.fill(@color: none) {
    fill: @color;
}