@import "mixins.less";

/* Element Selectors */
html { 
    background: @colorWhite;
    color: @colorBlack;
    margin: 0;
    padding: 0;
}
body {
    font-family: @fontDefault;
    font-size: 6pt;
    margin: 0;
    padding: 1em;    
}

h1 {
    font-size: 24pt;
    font-family: @fontAlt;
    margin: 0 0 .5em 0; 
    line-height: 1; 
    text-align: center;
}

h2 {
    border-bottom: @borderSolid;
    border-top: @borderSolid;
    font-size: 16pt;
    font-style: italic;
    clear: both;
    line-height: 1;
    margin: 1em;
    padding: 1em;
    text-align: center;
}

/* Class Selectors */
.contentWrap {
    margin: 0 auto;
    overflow: auto;
    max-width: 90vw;

}
.item {
    float: left;
    margin: 1em; 
    padding: 0 2em 2em 2em;
    width: 25em; 

    h3 { 
        font-size: 20pt;
        font-family: @fontDefault;
        margin: 0 0 .5em 0; 
        line-height: 1; 
        text-align: center;
    }
}

.gridWrap { 
    overflow: visible;
    position: relative;
    height: 25em;
    width: 25em;
}

.gridBox, 
.gridOutline {
    width: 100%;
    height: 100%;
    .fill();
    .strokeLine(2pt);
}

.gridLine { 
    width: 20%;
    height: 20%;
    .fill();
    .strokeLine();
}

.dotBox {
    width: 4em;
    height: 4em;
    position: absolute;

    > .dot {
        .fill(@colorBlack);
        stroke: none;
    }

    > text {
        font-size: 18pt;
        .fill(@colorWhite);
        
        &.accidental {
            font-size: 14pt;
        }
    }

    &.fret1 { top: 2%; }
    &.fret2 { top: 22%; }
    &.fret3 { top: 42%; }
    &.fret4 { top: 62%; }
    &.fret5 { top: 82%; }
    &.string1 { left: 92%; }
    &.string2 { left: 72%; }
    &.string3 { left: 52%; }
    &.string4 { left: 32%; }
    &.string5 { left: 12%; }
    &.string6 { left: -8%; }
    
    &.root {
        background: @colorBlack;
    }
}